@import "./_variables";

body {
  font-family: "Ubuntu", sans-serif;
  background-color: $hoveredColor;
}

.allCat {
  max-height: 590px;
  flex-wrap: wrap;
  // margin: 1.5rem;
  .item,
  .title {
    flex: 0 0 calc((1 / 6 * 100%) - 0.75rem);
    max-width: calc((1 / 6 * 100%) - 0.75rem);
    padding: 0.25rem 0.75rem;
  }
}

.cursor-pointer {
  cursor: pointer;
}
