.heading-primary {
  font-size: clamp(1.5rem, 0.7778rem + 3.6111vw, 3.9375rem);
  font-weight: 700;
  color: $white;
}

.heading-secondary {
  font-size: 24px;
  font-weight: 400;
  color: $darkgray;
}

.subtitle {
  font-size: clamp(0.75rem, 0.6759rem + 0.3704vw, 1rem);
  font-weight: 700;
  color: $darkgray;
}

.subtitle-secondary {
  font-size: clamp(0.875rem, 0.8009rem + 0.3704vw, 1.125rem);
  font-weight: 700;
  color: $black;
}

.text-medium {
  font-size: clamp(0.75rem, 0.6759rem + 0.3704vw, 1rem);
  font-weight: 400;
  color: $darkgray;
}

.text-small {
  font-size: 14px;
  font-weight: 400;
  color: $lightText;
}

.text-extra-small {
  font: 14px;
  font-weight: 400;
  color: $lightText;
}
