$black: #000000;
$white: #ffffff;
$hoveredColor: #f2f2f2;
$darkText: #191919;
$lightText: #9e9e9e;
$buttonLight: #eeeeee;
$red: #ed1c24;
$gray: #656565;
$darkgray: #424241;
$borderLight: #e2e1df;

$xs: 320;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
