@import "../../assets/sass/variables";

.categoryPlaylistWrap {
  background-color: #f2f2f2;
  border-radius: 38px;
  padding: 23px 29px;
  margin: 35px 0;
}

@media (max-width: $md) {
  .categoryPlaylistWrap {
    padding: 12px 4px;
  }
}
