@import "../../assets/sass/_variables";

.hero {
  border-radius: 1rem;
  position: relative;
  background-image: url("../../assets/images/others/heroBg.png");
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;

  &__content {
    padding: 1.625rem 0 1.625rem 5rem;
    width: 50%;
  }

  &__singerBg {
    position: absolute;
    bottom: 0;
    right: -3.125rem;
  }

  p {
    font-size: 1.25rem;
    color: $white;
  }
}

@media (max-width: $xl) {
  .hero {
    &__content {
      padding: 1.25rem 0 1.25rem 3.125rem;
    }

    &__singerBg {
      max-width: 50%;
    }
  }
}

@media (max-width: $lg) {
  .hero {
    &__content {
      width: 60%;
      padding: 1.25rem 0 1.25rem 1.875rem;
    }
  }
}

@media (max-width: $md) {
  .hero {
    &__content {
      margin: auto;
      width: 75%;
      text-align: center;
      padding: 1.25rem;
    }

    &__singerBg {
      display: none;
    }
  }
}

@media (max-width: $sm) {
  .hero {
    &__content {
      width: 100%;
    }
    p {
      font-size: 1rem;
    }
  }
}
