@import "../../assets/sass/base/variables";
.musichero {
  display: flex;
  margin-top: 26px;
  gap: 24px;

  img {
    border-radius: 25px;
  }
  &__content {
    margin-top: 100px;
    h2 {
      font-size: 48px;
      font-weight: 700;
    }
  }
}

@media (max-width: $sm) {
  .musichero {
    &__content {
      margin-top: 0px;
      h2 {
        font-size: 30px;
        font-weight: 700;
      }
    }
  }
}
