@import "../../assets/sass/variables";
@import "../../assets/sass/mixins";

.musicCard {
  background-color: transparent;
  padding: 17px 18px;
  border-radius: 57px;
  transition: 300ms background-color linear;

  button {
    background-color: transparent;
    border: none;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &.activeTrack {
    background-color: $white;
  }

  .musicIcon {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    img {
      object-fit: none;
    }

    .playButton {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 5;
      cursor: pointer;
      opacity: 0;
      transition: 250ms opacity linear;
    }
  }

  &__desc {
    @include text-overflow;
    margin-left: 33px;
    // margin-right: 6rem;

    p {
      margin: 0;
    }
  }

  &__duration {
    padding: 9px 29px;
    border-radius: 20px;
    background-color: $lightText;
    margin-inline: 2rem;

    span {
      font-size: 1.125rem;
      color: $white;
    }
  }

  &__buttonGroup {
    // margin-left: 6.25rem;
    // gap: 1rem;

    .licence {
      gap: 0.625rem;
      padding: 0.625rem 1.625rem;
      background-color: $darkgray;
      color: $white;
      border: none;
      border-radius: 21px;
    }
  }

  &:hover,
  &.activeTrack {
    background-color: $white;
    .musicIcon {
      .playButton {
        opacity: 1;
      }
    }
  }
}

.waveform {
  margin-left: 2rem;
  flex: 45%;
  max-width: 45%;
}

@media (max-width: $xxl) {
  .musicCard {
    &__buttonGroup {
      gap: 0.25rem;
    }
  }
}

@media (max-width: $md) {
  .musicCard {
    padding: 0.625rem;
  }
}

@media (max-width: $sm) {
  .musicCard {
    padding: 0.25rem;

    &__desc {
      margin-left: 10px;
    }

    &__musicIcon {
      margin-right: 0.5rem;
      width: 3.125rem;
      height: 3.125rem;
    }

    &__buttonGroup {
      gap: 0;
    }
  }
}
