@import "../../assets/sass/variables";

.sliderCard {
  border-radius: 10px;
  position: relative;
  overflow: hidden;

  &__title {
    font-size: clamp(1rem, 0.8519rem + 0.7407vw, 1.5rem);
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    z-index: 100;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.5);
      filter: blur(10px);
      z-index: -1;
    }
  }
}

.sliderCardTwo {
  img {
    border-radius: 15px;
    overflow: hidden;
  }
}
