@import "../../assets/sass/variables";

.allcategory {
  &__title {
    font-size: 20px;
    text-decoration: underline;
  }

  &__categories {
    height: 560px;

    &_heading {
      font-size: 18px;
      color: $black;
      font-weight: 900;
    }
  }
}
