@import "../../../assets/sass/variables";

.footer {
  background-color: $white;
  padding: 48px 180px 20px 64px;
  gap: 80px;
  &__left {
    flex: 0 0 20%;
  }
  &__right {
    flex: 0 0 80%;
  }
}

@media (max-width: $lg) {
  .footer {
    padding: 38px 60px 20px 64px;
    gap: 40px;
  }
}

@media (max-width: $md) {
  .footer {
    padding: 10px 20px 10px 20px;
    gap: 20px;
  }
}
