@import "../../../assets/sass/variables";

.footer {
  background-color: $white;

  &__wrapper {
    padding: 48px 0 20px 70px;
    max-width: 75.5%;
  }
  &__spacing {
    gap: 80px;
  }
  &__left {
    flex: 0 0 20%;
  }
  &__right {
    flex: 0 0 80%;
  }
}

@media (max-width: $lg) {
  .footer {
    &__wrapper {
      padding: 48px 0 20px 64px;
      max-width: 100%;
    }
    &__spacing {
      gap: 40px;
    }
  }
}

@media (max-width: $md) {
  .footer {
    &__wrapper {
      padding: 25px 20px 10px 20px;
      max-width: 100%;
    }
    &__spacing {
      gap: 20px;
    }
  }
}
