@import "../../../assets/sass/variables";

.navbar {
  background-color: $white;
  position: fixed;
  z-index: 20;
  padding: 15px;
  width: 100%;

  .navbar__brandLogo {
    max-width: 100%;
    height: auto;
  }

  &__searchbar {
    border-radius: 10px;
    width: 380px;
    margin-left: 80px;
    input {
      border: none;
      &:focus-within {
        outline: none;
      }
    }
  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 70px;
  width: 235px;
  display: block;
  background-color: $white;
  height: calc(100vh - 70px);
  z-index: 100;

  &__paddings {
    padding-left: 40px;
  }

  &__social {
    a {
      text-decoration: none;
      color: $lightText;
      font-size: 16px;
    }
  }
}

@media (max-width: $lg) {
  .navbar {
    &__searchbar {
      margin-left: 40px;
      width: fit-content;
    }
  }
}

@media (max-width: $md) {
  .navbar {
    &__searchbar {
      margin-left: auto;
    }
  }
}

@media (max-width: $sm) {
  .navbar {
    .navbar__brandLogo {
      max-width: 25%;
    }
  }
}
