@import "../../../assets/sass/variables";

.navbar {
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  padding: 1rem;
  width: 100%;

  &__brandLogo {
    max-width: 100%;
    height: auto;
  }

  &__searchbar {
    position: relative;
    border-radius: 0.625rem;
    width: 23.75rem;
    margin-left: 5rem;
    input {
      border: none;
      width: calc(100% - 2.5rem);
      &:focus-within {
        outline: none;
      }
    }

    &_searchIcon {
      position: absolute;
      top: 50%;
      right: 2rem;
      transform: translateY(-50%);
    }
  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 70px;
  width: 235px;
  display: block;
  background-color: $white;
  height: calc(100vh - 70px);
  z-index: 100;

  &__paddings {
    padding-left: 40px;
  }

  &__social {
    a {
      text-decoration: none;
      color: $lightText;
      font-size: 16px;
    }
  }
}

@media (max-width: $lg) {
  .navbar {
    &__searchbar {
      margin-left: 40px;
      width: fit-content;
    }
  }
}

@media (max-width: $md) {
  .navbar {
    &__searchbar {
      margin-left: auto;
    }
  }
}

@media (max-width: $sm) {
  .navbar {
    .navbar__brandLogo {
      max-width: 25%;
    }
  }
}
