@import "../../../assets/sass/variables";
.root {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;

  aside {
    flex: 0 0 236px;
    max-width: 236px;
  }

  &__children {
    margin-top: 90px;
    max-width: 75.5%;
    flex: 0 0 75.5%;
    padding: 40px 64px 0 64px;
  }

  &__footer {
    width: 100%;
    margin-left: 225px;
  }
}

@media (max-width: $xxl) {
  .root {
    &__children {
      max-width: calc(100% - 236px);
      flex: 0 0 calc(100% - 236px);
    }
  }
}

@media (max-width: $lg) {
  .root {
    aside {
      display: none;
    }

    &__children {
      max-width: 100%;
      flex: 0 0 100%;
      padding: 0 5px 0 5px;
    }

    &__footer {
      margin-left: 0;
    }
  }
}
